$primary-color: #111111;
$secondary-color: #4a4ff2;


.body {
  font-family: "Mulish", sans-serif;
  box-sizing: content-box;
}

.header {
  margin: 40px 40px 20px 20px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;

  &_logo {
    max-width: 90px;
    max-height: 20px;
    padding: 10px;

    &:hover {
      transform: rotate(-20deg);
    }
  }
  &_links {
    padding: 10px;
    padding-left: 10px;

    &--item {
      padding-left: 20px;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
        font-size: x-large;
      }
    }
  }
}

.portfolio{
  margin: 100px;
  display: flex;
  justify-content: space-between;

  &_intro{
      max-width: 640px;

    &--heading{
      font-weight: bold;
      font-size: 40px;
      line-height: 55px;
      color: $primary-color;
      padding: 20px;

      &:hover{
        font-size: 60px;
      }
    }
    &--text1 {
      font-size: 16px;
      line-height: 26px;
      opacity: 0.8;
      color: $primary-color;
      padding: 20px 20px 30px 20px;
    }
    &--text2 {
      font-size: 16px;
      line-height: 26px;
      opacity: 0.8;
      color: $primary-color;
      padding: 20px;
    }
  }

  &_details  {
     margin-right: 40px;    

    &-title{
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      opacity: 0.5;
      color: $primary-color;
      padding: 20px 40px 20px 40px;
      border-bottom: 1px solid #979797;
    }
    &-info {
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color:$primary-color;
      padding: 20px 40px 20px 40px;
      border-bottom: 1px solid #979797;
    }
  }
}

.info {
  margin:100px;

  &_img{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
  &_text{
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    color: $primary-color;
    padding: 80px 20px 0px 20px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin:10px 100px;
  padding: 0px 20px 20px 20px;

  &_image{
    max-height: 100%;
    max-width: 100%;

    &:hover{
      transform: scale(1.1);
    }

    &--1 {
      grid-column: 1 / 2;
    }
    &--2 {
      grid-column: 2 / 3;
    }
    &--3 {
      grid-column: 3 / 4;
    }
  }

}

.footer {
    margin: 120px 20px 40px 20px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
  
    &_logo {
      max-width: 90px;
      max-height: 20px;
      padding: 10px;
  
      &:hover {
        transform: rotate(-20deg);
      }
    }
    &_info {
       display: flex;
    }
    &_links {
      padding: 10px;
      padding-left: 10px;
      justify-content: flex-end;
  
      &--item {
        padding-left: 20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: $primary-color;
  
        &:hover {
          color: $secondary-color;
          font-size: x-large;
        }
      }
    }
    &_icons {
      padding: 10px;
      margin-left: 50px;
  
      &--item {
        padding-left: 20px;
        font-size: 20px;
  
        &:hover {
          color: $secondary-color;
          font-size: x-large;
        }
      }
    }
  }
